<header id="header" v-bind:class="{ reduced: headerReduced }">
			<div class="header--wrapper--inner">
				<div class="flex-container">
					<a class="logo" href="{{ siteUrl }}" v-bind:class="{ active: activeContrast }">
						Logo MN Basel
					</a>
					<div class="centered">
						<div class="mn-date">Freitag, 19. Januar 2018 | 18–2 Uhr</div>
					</div>
					<div id="menu" >
						{# <contrast></contrast> #}
						<div class="contrast-toggle" v-on:click="toggleContrast">
							&#61506;
						</div>
						<savedlink></savedlink>

						<div class="burger-toggle" v-bind:class="{ open: menuOpen }" v-on:click="toggle">
							<span>MENU</span>
							<div class="burger" >
							<i v-if="menuOpen">⊠</i>
							<i v-else="menuOpen">☰</i>

						</div>
					</div>
				</div>
			</div>
			<transition name="fade">
				<nav class="nav-wrapper narrow" v-if="menuOpen">
					<ul class="main-nav">
						<li><a href="{{ url('programm') }}" {% if craft.request.firstSegment == 'programm' %}class="active"{% endif %}>Programm</a></li>
						<li><a href="{{ url('museen') }}" {% if craft.request.firstSegment == 'museen' %}class="active"{% endif %}>Museen</a></li>
						<li><a href="{{ url('tickets') }}" {% if craft.request.firstSegment == 'tickets' %}class="active"{% endif %}>Tickets</a></li>
						<li><a href="{{ url('mobilitaet') }}" {% if craft.request.firstSegment == 'mobilitaet' %}class="active"{% endif %}>Mobilität</a></li>

						{# <li><a href="{{ url('socialstream') }}" {% if craft.request.firstSegment == 'socialstream' %}class="active"{% endif %}>#mnbasel</a></li> #}
					</ul>
					<div class="sec-nav">
						<ul class="lang">
							<li><nobr><a href="/fr"><i class="fr">🇫🇷</i> <span>Informations en français</span></a></nobr></li>
							<li><a href="/en"><i class="en">🇬🇧</i> <span>Information in English</span></a></li>
							

						</ul>
						<ul class="social">
							<li><a href="https://twitter.com/museenbasel"><i>ⓣ</i> <span>@museenbasel</span></a></li>
							<li><a href="https://www.facebook.com/museenbasel/"><i>ⓕ</i> <span>@museenbasel</span></a></li>
							<li><a href="https://www.instagram.com/museumsnachtbasel/"><i>ⓘ</i> <span>@museumsnachtbasel</span></a></li>
						</ul>
						<ul>
							<li><a href="/">Medien</a></li>
						</ul>
					</div>
				</nav>
			</transition>
		</div>

	</header>