	<article class="institutions institutions--single">
		{% set shuttleLine = entry.shuttleLine %}
		{% if shuttleLine | length < 2 %}
		
		{% for color in entry.shuttleLine %}
			<span class="shuttle-line" style="color: {{ color.color }}"><strong>{{ entry.number }}</strong> {{ color.title }}</span>
		{% endfor %}
		{% else %}
			<span class="shuttle-line"><strong>{{ entry.number }}</strong></span>

			{% for color in entry.shuttleLine %}
				<span class="shuttle-line" style="color: {{ color.color }}"><nobr>{{ color.title }} </nobr></span>
			{% endfor %}
		{% endif %}
		{# {% for color in entry.shuttleLine %}<span class="shuttle-line" style="color: {{ color.color }}"><strong>{{ entry.number }}</strong> {{ color.title }}</span>{% endfor %} #}

		<h1 class="title">{{ entry.title }}</h1>
		<div class="flex-container">
			<div>
				<div class="visitor-infos">
					{% if entry.advanceSale %}<span><i>&#127915;</i> Ticketvorverkauf</span><br>{% endif %}
					{% set accessibility = entry.accessibility.value %}
					{% switch accessibility %}
					
					{% case "wheelchair" %}
					<span><i>&#9855;</i> {{ entry.accessibility.label }}</span><br>

					
					{% case "partlyWheelchair" %}
					<span><i>&#9855;*</i> {{ entry.accessibility.label }}</span><br>

					
					{% default %}

					
					{% endswitch %}
					{% if entry.wifi %}<span><i>&#8980;</i> Wi-Fi</span>{% endif %}
					
					
				</div>
				<address>{{ entry.address }}{% if entry.location %}, {{ entry.location }}{% endif %}
				</address>
				<p><a target="_blank" href="https://www.google.com/maps/search/?api=1&{{ entry.address}}">Google Maps</a></p>
				<h3>Anfahrt:</h3>
				<p>{{ entry.journey }}</p>
			</div>
			{% for img in entry.imgInstitution %}
			<figure>
				<img src="{{ img.getUrl }}" style="max-width: {{ img.width }}" alt="Bild vom Institut">
			</figure>
			{% endfor %}
		</div>
		<section class="program">
			<h1 class="program-title">{{ entry.programmTitle }}</h1>
			<div class="program-text">{{ entry.programmText }}</div>
			{% for img in entry.programImg %}
			<figure>
				<img src="{{ img.getUrl }}" alt="{{ img.title }}">
				{% if img.caption %}
					<figcaption>{{ img.caption }}</figcaption>
				{% endif %}
				
			</figure>
			{% endfor %}
			<h2>Programm</h2>

			
			<institutionprogram parent="{{entry.number}}"></institutionprogram>
			<p>Essen und trinken: {{ entry.food }}</p>
		</section>
	</article>

		
