<div id="container">
	<article class="institutions institutions--single narrow">
		{% for color in entry.shuttleLine %}<span class="shuttle-line" style="color: {{ color.color }}"><strong>{{ entry.number }}</strong> {{ color.title }} Shuttle Linie </span>{% endfor %}</span>
		<h1 class="title">{{ entry.title }}</h1>
		<div class="flex-container">
			<div>
				<div class="visitor-infos">
					{% if entry.advanceSale %}<span><i>&#127915;</i> Ticketvorverkauf</span><br>{% endif %}
					{% set accessibility = entry.accessibility.value %}
					{% switch accessibility %}
					
					{% case "wheelchair" %}
					<span><i>&#9855;</i> {{ entry.accessibility.label }}</span>

					
					{% case "partlyWheelchair" %}
					<span><i>&#9855;*</i> {{ entry.accessibility.label }}</span>

					
					{% default %}

					
					{% endswitch %}
					
				</div>
				<address>{{ entry.address }}</address>
				<h3>Anfahrt:<</h3>
				<p>{{ entry.journey }}</p>
			</div>
			{% for img in entry.imgInstitution %}
			<figure>
				<img src="{{ img.getUrl }}" alt="Bild vom Institut">
			</figure>
			{% endfor %}
			{# <div class="map-container">
				<googlemap name="googleMap"></googlemap>
			</div> #}
		</div>
		<section class="program">
			<h1 class="program-title">{{ entry.programmTitle }}</h1>
			<div class="program-text">{{ entry.programmText }}</div>
			{% for img in entry.programImg %}
			<figure>
				<img src="{{ img.getUrl }}" alt="{{ img.title }}">
			</figure>
			{% endfor %}
			<h2>Programm</h2>
			<ul class="program-list">
				{% set children = entry.children().level(2) %}
				{% for entry in children %}
				<li class="program--event">
					<h1>{{ entry.title }}</h1>
					{% for time in entry.time %}
					<time>
						{% switch time.type %}
						{% case "setTimes" %}
						{{ time.start | date("h:i") }} (Dauer: {{ time.duration }})<br>
						{% case "continuous" %}
						{{ time.start | date("h:i") }} – {{ time.end | date("h:i") }} (Durchgehend)
						{% case "iterating" %}									
						{{ time.start | date("h:i") }} – {{ time.end | date("h:i") }} ({{ time.frequency }}, Dauer: {{ time.duration }})
						{% endswitch %}
					</time>
					{% endfor %}
					{{ entry.description }}
				</li>
				{% endfor %}
			</ul>
			<p>Essen: {{ entry.food }}</p>
		</section>
	</article>
</div>

		
