<article class="program program--single">
	<h2>{{ entry.title }}</h2>
	{% for time in entry.time %}
		<time>
			{% if time.type == "setTimes" %}
				{{ time.start | date("h:i") }} (Dauer: {{ time.duration }})<br>
			{% elseif time.type == "continuous" %}
				{{ time.start | date("h:i") }} – {{ time.end | date("h:i") }} (Durchgehend)
			{% elseif time.type == "iterating" %}
				{{ time.start | date("h:i") }} – {{ time.end | date("h:i") }} ({{ time.frequency }}, Dauer: {{ time.duration }})
			{% endif %}
		</time>
	{% endfor %}
	{% if entry.themes | length %}

		<div class="themes">
			<h3>Themen:</h3>
			<ul>
				{% for theme in entry.themes %}
					<li>{{ theme.title }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	{% if entry.kindOfEvent | length %}
		
		<div class="kind-of-event">
			<h3>Art der Veranstaltung:</h3>
			<ul>
				{% for kindOfEvent in entry.kindOfEvent %}
					<li>{{ kindOfEvent.title }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	{% if entry.languages | length %}

		<div class="languages">
			<h3>Sprachen:</h3>
			<ul>
				{% for lang in entry.languages %}
					<li>{{ lang.title }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
</article>