{% extends "_layout" %}
{% set title = "Home" %}
{% set mt = "mt" %}


{% block content %}

{# <twitter></twitter> #}

<div class="journal journal--overview">
	<header class="site-header">
		<h1 class="title">Journal</h1>
	</header>
	<section class="journal--overview_posts group of-three">
	{% for entry in craft.entries.section('journal') %}
		<div>
			<a href="{{ entry.url }}">
				<h1>{{ entry.title }}</h1>
				{% for img in entry.cover %}
				<figure>
					<img src="{{ img.url }}" alt="{{ img.title }}">
				</figure>
				{% endfor %}
				{{ entry.excerpt }}
			</a>
		</div>
	{% endfor %}
	</section>
</div>

{% endblock %}