{% extends "_layout" %}
{% set title = entry.title %}


	{% block content %}
		<article class="institutions institutions--single">
			<h1><a href="{{ entry.url }}">{{ entry.number }} – {{ entry.title }}</a></h1>
			<p>{{ entry.address }}<br>{% for color in entry.shuttleLine %}{{ color.title }}{% endfor %} – {{ entry.journey }}</p><br>

			
			{% endif %}
			
			<p>Essen: {{ entry.food }}</p><br>

			<h2>{{ entry.programmTitle }}</h2>
			{{ entry.programmText }}
			<ul class="institutions institutions--single institutions--single__program-list">
				
				{% for entry in craft.entries.section('program').getDescendants(2) %}
					<li>
						<h2>{{ entry.title }}</h2>
						{% for time in entry.time %}
							<time>
								{% if time.type == "setTimes" %}
									{{ time.start | date("h:i") }} (Dauer: {{ time.duration }})<br>
								{% elseif time.type == "continuous" %}
									{{ time.start | date("h:i") }} – {{ time.end | date("h:i") }} (Durchgehend)
								{% elseif time.type == "iterating" %}
									{{ time.start | date("h:i") }} – {{ time.end | date("h:i") }} ({{ time.frequency }}, Dauer: {{ time.duration }})
								{% endif %}
							</time>
						{% endfor %}
					</li><br>

				{% endfor %}

				
			</article>
		{% endblock %}
