{% extends "_layout" %}
{% set title = "News" %}
	{% block content %}
		<section class="institutions institutions--overview">
			<h1>Programm</h1>
			<div class="map-container">
				<div id="map">
				</div>
				{# 
				{% set data = {} %}
				
				{% for location in craft.entries.section('program').type('institution').find() %}
					{% set data = data|merge([{
				        lat: location.map.lat,
				        lng: location.map.lng,
				    }]) %}
				{% endfor %} 
				#}
				<script>
				function initMap() {
					        // Create a map object and specify the DOM element for display.
					        var map = new google.maps.Map(document.getElementById('map'), {
					        	center: {
					        		lat: 47.55959860000001,
					        		lng: 7.588576099999955
					        	},
					        	zoom: 12
					        });
					        var marker = new google.maps.Marker({
					        	position:
					        	{
					        		lat: 47.55959860000001,
					        		lng: 7.588576099999955
					        	},
					        	map: map,
					        	title: 'Hello World!'
					        });
					    }
					    </script>	
					    {#}			
					    #}
					    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG1n1fhLxcWGqlj1AUOBxinlfFn1idc4U&callback=initMap" async defer></script>
					</div>
					{% for entry in craft.entries.section('program').type('institution').find() %}
						<article class="institutions--overview_child">
							<h1><a href="{{ entry.url }}">{{ entry.number }} – {{ entry.title }}</a></h1>
							<p>{{ entry.address }}<br>{% for color in entry.shuttleLine %}{{ color.title }}{% endfor %} – {{ entry.journey }}</p>
						</article>
					{% endfor %}
				</section>
			{% endblock %}
