{% extends "_layout" %}
{% set title = entry.title %}


{% block content %}
	{% if entry.type == 'institution' %}
	
	<article class="institutions institutions--single">
			<h1><a href="{{ entry.url }}">{{ entry.number }} – {{ entry.title }}</a></h1>
			<p>{{ entry.address }}<br>{% for color in entry.shuttleLine %}{{ color.title }}{% endfor %} – {{ entry.journey }}</p><br>

			{#<div class="map-container">
				<div id="map">
				</div>
				<script>
				var map;
				function initMap() {
					var inst = {lat:{{ entry.map.lat }}, lng: {{ entry.map.lng }} };
				  	map = new google.maps.Map(document.getElementById("map"), {
				    center: inst,
				    zoom: {{ entry.map.zoom }}
				  });
				}
				</script>#}

				{# <div id="map"></div>
					<script>
						var map;
						function initMap() {
						  map = new google.maps.Map(document.getElementById("map"), {
						    center: {
						      lat: {{ entry.map.lat }},
						      lng: {{ entry.map.lng }}
						    },
						    zoom: {{ entry.map.zoom }}
						  });
						}
					</script>
				</div> #}

				<googlemap name="googleMap"></googlemap>

			<p>Essen: {{ entry.food }}</p><br>

			<h2>{{ entry.programmTitle }}</h2>
			{{ entry.programmText }}
			<ul class="institutions institutions--single institutions--single__program-list">
			
			{% for entry in craft.entries.section('program').getDescendants(2) %}
			<li>
			    <h2>{{ entry.title }}</h2>
			    {% for time in entry.time %}
			    	 <time>
			        {% if time.type == "setTimes" %}
						{{ time.start | date("h:i") }} (Dauer: {{ time.duration }})<br>
					{% elseif time.type == "continuous" %}
					    {{ time.start | date("h:i") }} – {{ time.end | date("h:i") }} (Durchgehend)
					{% elseif time.type == "iterating" %}
					    {{ time.start | date("h:i") }} – {{ time.end | date("h:i") }} ({{ time.frequency }}, Dauer: {{ time.duration }})
			        {% endif %}
			   		</time>
			    {% endfor %}
				</li><br>

			{% endfor %}

			
		</article>

		{% elseif entry.type == 'Event' %}
			<article class="program program--single">
				 <h2>{{ entry.title }}</h2>
			    {% for time in entry.time %}
			    	 <time>
			        {% if time.type == "setTimes" %}
						{{ time.start | date("h:i") }} (Dauer: {{ time.duration }})<br>
					{% elseif time.type == "continuous" %}
					    {{ time.start | date("h:i") }} – {{ time.end | date("h:i") }} (Durchgehend)
					{% elseif time.type == "iterating" %}
					    {{ time.start | date("h:i") }} – {{ time.end | date("h:i") }} ({{ time.frequency }}, Dauer: {{ time.duration }})
			        {% endif %}
			   		</time>
			    {% endfor %}
			    {% if entry.themes | length %}

			    <div class="themes">
			    	<h3>Themen:</h3>
				    <ul>
				    	{% for theme in entry.themes %}
				    	    <li>{{ theme.title }}</li>
				    	{% endfor %}
			    	</ul>
			    </div>
				{% endif %}
			    {% if entry.kindOfEvent | length %}
			    
			    <div class="kind-of-event">
			    	<h3>Art der Veranstaltung:</h3>
				    <ul>
				    	{% for kindOfEvent in entry.kindOfEvent %}
				    	    <li>{{ kindOfEvent.title }}</li>
				    	{% endfor %}
			    	</ul>
			    </div>
			    {% endif %}
			    {% if entry.languages | length %}

			    <div class="languages">
			    	<h3>Sprachen:</h3>
				    <ul>
				    	{% for lang in entry.languages %}
				    	    <li>{{ lang.title }}</li>
				    	{% endfor %}
			    	</ul>
			    </div>
			    {% endif %}
			</article>
		{% endif %}
{% endblock %}
