{% extends "_layout" %}
{% set title = "News" %}

{% block content %}
	<section class="program program--overview">

	<h1>Programm</h1>

	<div class="filter--wrapper">
<!-- 		<div class="time--filter--wrapper">
			<a href="#">
				Zeit
			</a>
		</div> -->
		<div class="museums--filter--wrapper">
			<div class="filter--headline--wrapper">
				<a href="#">
					Museen
				</a>
			</div>
			<div class="filter--list--wrapper">
			  <p>Parent value: ${checkedInstitutions}</p>
			  <checkboxfilter v-bind:value-name="institutionsAPITitle" v-model="checkedInstitutions"></checkboxfilter>
				<!-- <institutionfilter v-model="checkedInstitutions" v-on:init-institutions="checkedInstitutions = $event"></institutionfilter> -->
			</div>
		</div>
		<div class="themes--filter--wrapper">
			<div class="filter--headline--wrapper">
				<a href="#">
					Themen
				</a>
			</div>
			<div class="filter--list--wrapper">
			  <p>Parent value: ${checkedThemes}</p>
				<checkboxfilter v-bind:value-name="themesAPITitle" v-model="checkedThemes"></checkboxfilter>
			</div>
		</div>
		<div class="kind-of-event--filter--wrapper">
			<div class="filter--headline--wrapper">
				<a href="#">
					Art der Veranstaltung
				</a>
			</div>
			<div class="filter--list--wrapper">
			  <p>Parent value: ${checkedEvents}</p>
				<checkboxfilter v-bind:value-name="eventsAPITitle" v-model="checkedEvents"></checkboxfilter>
			</div>
		</div>
		<div class="languages--filter--wrapper">
			<div class="filter--headline--wrapper">
				<a href="#">
					Sprachen
				</a>
			</div>
			<div class="filter--list--wrapper">
			  <p>Parent value: ${checkedLanguages}</p>
				<checkboxfilter v-bind:value-name="languagesAPITitle" v-model="checkedLanguages"></checkboxfilter>
			</div>
		</div>
	</div>

	{% for entry in craft.entries.section('program').type('institution').find() %}

	<!-- themes -->
		{% set allThemesForEntry = '' %}
		{% for entry in entry.getDescendants(2) %}
	    	{% for theme in entry.themes %}
	    	    {% set allThemesForEntry = allThemesForEntry ~ '"' ~ theme.title ~ '",' %}
	    	{% endfor %}
  	{% endfor %}

  	{% set allThemesForEntry = allThemesForEntry | trim(',','right')  %}


  	<!-- kind of events -->
		{% set allKindsOfEventsForEntry = '' %}
		{% for entry in entry.getDescendants(2) %}
	    	{% for kindOfEvent in entry.kindOfEvent %}
	    	    {% set allKindsOfEventsForEntry = allKindsOfEventsForEntry ~ '"' ~ kindOfEvent.title ~ '",' %}
	    	{% endfor %}
  	{% endfor %}

  	{% set allKindsOfEventsForEntry = allKindsOfEventsForEntry | trim(',','right')  %}

  	<!-- languages -->
		{% set allLanguagesForEntry = '' %}
		{% for entry in entry.getDescendants(2) %}
	    	{% for language in entry.languages %}
	    	    {% set allLanguagesForEntry = allLanguagesForEntry ~ '"' ~ language.title ~ '",' %}
	    	{% endfor %}
  	{% endfor %}

  	{% set allLanguagesForEntry = allLanguagesForEntry | trim(',','right')  %}




		<article v-if="(
		( checkedInstitutions.includes('{{ entry.title }}') || (checkedInstitutions.length == 0) )
		&& ( _.intersectionWith(checkedThemes,[{{ allThemesForEntry }}] , _.isEqual).length || (checkedThemes.length == 0) )
		&& ( _.intersectionWith(checkedEvents,[{{ allKindsOfEventsForEntry }}] , _.isEqual).length || (checkedEvents.length == 0) )
		&& ( _.intersectionWith(checkedLanguages,[{{ allLanguagesForEntry }}] , _.isEqual).length || (checkedLanguages.length == 0) )
		)">
			<h1><a href="{{ entry.url }}">{{ entry.number }} – {{ entry.title }}</a></h1>
			<p>{{ entry.address }}<br>{% for color in entry.shuttleLine %} {{ color.title }}{% endfor %} – {{ entry.journey }}</p><br>

			<p>Essen: {{ entry.food }}</p><br>

			<h2>{{ entry.programmTitle }}</h2>
			{{ entry.programmText }}
			<br>
			<h3>Programm</h3><br>
			<ul class="program-list" >
			{% for entry in entry.getDescendants(2) %}

				<!-- themes -->
				{% set themesOfEvent = '' %}
	    	{% for theme in entry.themes %}
	    	    {% set themesOfEvent = themesOfEvent ~ '"' ~ theme.title ~ '",' %}
	    	{% endfor %}

	    	<!-- kind of events -->
				{% set kindOfEventOfEvent = '' %}
	    	{% for kindOfEvent in entry.kindOfEvent %}
	    	    {% set kindOfEventOfEvent = kindOfEventsOfEvent ~ '"' ~ kindOfEvent.title ~ '",' %}
	    	{% endfor %}

	    	<!-- languages -->
				{% set languageOfEvent = '' %}
	    	{% for language in entry.languages %}
	    	    {% set languageOfEvent = languagesOfEvent ~ '"' ~ language.title ~ '",' %}
	    	{% endfor %}

				<li v-if="(
				( _.intersectionWith(checkedThemes,[{{ themesOfEvent }}] , _.isEqual).length || (checkedThemes.length === 0) )
				&& ( _.intersectionWith(checkedEvents,[{{ kindOfEventOfEvent }}] , _.isEqual).length || (checkedEvents.length === 0) )
				&& ( _.intersectionWith(checkedLanguages,[{{ languageOfEvent }}] , _.isEqual).length || (checkedLanguages.length === 0) )
				)" id="program">
			    <h2>{{ entry.title }}</h2>
			    {% for time in entry.time %}
			    	 <time>
			        {% if time.type == "setTimes" %}
						{{ time.start | date("h:i") }} (Dauer: {{ time.duration }})<br>
					{% elseif time.type == "continuous" %}
					    {{ time.start | date("h:i") }} – {{ time.end | date("h:i") }} (Durchgehend)
					{% elseif time.type == "iterating" %}
					    {{ time.start | date("h:i") }} – {{ time.end | date("h:i") }} ({{ time.frequency }}, Dauer: {{ time.duration }})
			        {% endif %}
			   		</time>
			    {% endfor %}
			    {% if entry.themes | length %}


			    <div class="themes">
			    	<h3>Themen:</h3>
				    <ul>
				    	{% for theme in entry.themes %}
				    	    <li>{{ theme.title }}</li>
				    	{% endfor %}
			    	</ul>
			    </div>
				{% endif %}
			    {% if entry.kindOfEvent | length %}
			    
			    <div class="kind-of-event">
			    	<h3>Art der Veranstaltung:</h3>
				    <ul>
				    	{% for kindOfEvent in entry.kindOfEvent %}
				    	    <li>{{ kindOfEvent.title }}</li>
				    	{% endfor %}
			    	</ul>
			    </div>
			    {% endif %}
			    {% if entry.languages | length %}

			    <div class="languages">
			    	<h3>Sprachen:</h3>
				    <ul>
				    	{% for lang in entry.languages %}
				    	    <li>{{ lang.title }}</li>
				    	{% endfor %}
			    	</ul>
			    </div>
			    {% endif %}

			    <div class="save-element">
			    	
			    </div>
				</li><br>

			{% endfor %}
		</ul>
		</article>
	{% endfor %}
</section>
{% endblock %}
