<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta http-equiv="Content-Type" charset="utf-8" />
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
	
	{# Customize these Tags! #}
	<meta name="og:description" content="Museumsnacht Basel">
	<meta name="description" content="Museumsnacht Basel">
	<title>{{ siteName }}{% if title is defined %} - {{ title }}{% endif %}</title>
	<link rel="home" href="{{ siteUrl }}" />
 	<link rel="stylesheet" href="{{ siteUrl }}/css/styles.css"/>
</head>

<body {% if title is defined %}class="{{ title }}"{% endif %}>
	<div id="container">
		<header id="header">
			<h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>
			<nav id="menu" v-bind:class="{ open: menuOpen }" v-on:click="toggle">
				<div class="burger" >
					<span></span>
					<span></span>
					<span></span>
				</div><br>
				<transition name="fade">
					<ul v-if="menuOpen">
						<li><a href="{{ url('programm') }}" {% if craft.request.firstSegment == 'programm' %}class="active"{% endif %}>Programm</a></li>
						<li><a href="{{ url('institutionen') }}" {% if craft.request.firstSegment == 'institutionen' %}class="active"{% endif %}>Institutionen</a></li>
						{# <li><a href="{{ url('informationen') }}" {% if craft.request.firstSegment == 'informationen' %}class="active"{% endif %}>Informationen</a></li> #}
					</ul>
			  </transition>

			</nav>
		</header>

		<main id="content" role="main">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>

		<footer id="footer">
			Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved  •  Built with <a href="http://craftcms.com">Craft</a>
		</footer>
	</div>
	<script type="text/javascript" src="{{ siteUrl }}/js/vue.js"></script>

	<script type="text/javascript" src="{{ siteUrl }}/js/main.js"></script>
	<script>
		function menu() {
			document.getElementById("header").classList.toggle("active");
		}
	</script>
</body>
</html>
