<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta http-equiv="Content-Type" charset="utf-8" />
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
	
	{# Customize these Tags! #}
	<meta name="og:description" content="Museumsnacht Basel">
	<meta name="description" content="Museumsnacht Basel">
	<title>{{ siteName }}{% if title is defined %} - {{ title }}{% endif %}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="stylesheet" href="{{ siteUrl }}/css/styles.css"/>
</head>

<body>

	<div id="vue-app" v-bind:class="{ active: activeContrast }">
		<header id="header" v-bind:class="{ reduced: headerReduced }">
			<div class="header--wrapper--inner">
				<div class="flex-container">
						<a class="logo" href="{{ siteUrl }}" v-bind:class="{ active: activeContrast }">
							Logo MN Basel
						</a>
					{# <div class="logo" v-if="activeContrast == false">
						<a href="{{ siteUrl }}">
							<figure>
								<img src="/bilder/logo_schwarz.svg" alt="Logo MN Basel">
							</figure>
						</a>
					</div> #}
					 <div class="centered">
					 	<div class="mn-date">Freitag, 19. Januar 2018 | 18–2 Uhr</div>
					 </div>
					<div id="menu" >
						{# <contrast></contrast> #}
						<div class="contrast-toggle" v-on:click="toggleContrast">
							&#61506;
						</div>
						<savedlink></savedlink>

						<div class="burger-toggle" v-bind:class="{ open: menuOpen }" v-on:click="toggle">
							<span>MENU</span>
							<div class="burger" >
							{# <span></span>
							<span></span>
							<span></span> #}
							<i>&#9776;</i>

						</div>
					</div>
				</div>
			</div>
			<transition name="fade">
				<nav class="nav-wrapper narrow" v-if="menuOpen">

					<ul class="main-nav">
						<li><a href="{{ url('programm') }}" {% if craft.request.firstSegment == 'programm' %}class="active"{% endif %}>Programm</a></li>
						<li><a href="{{ url('museen') }}" {% if craft.request.firstSegment == 'museen' %}class="active"{% endif %}>Museen</a></li>
						<li><a href="{{ url('tickets') }}" {% if craft.request.firstSegment == 'tickets' %}class="active"{% endif %}>Tickets</a></li>
						<li><a href="{{ url('mobilitaet') }}" {% if craft.request.firstSegment == 'mobilitaet' %}class="active"{% endif %}>Mobilität</a></li>

						{# <li><a href="{{ url('socialstream') }}" {% if craft.request.firstSegment == 'socialstream' %}class="active"{% endif %}>#mnbasel</a></li> #}
					</ul>
					<div>
						<ul class="lang">
							<li><nobr><a href="/"><i class="fr">🇫🇷</i> <span>Informations en francais</span></a></nobr></li>
							<li><a href="/"><i class="en">🇬🇧</i> <span>Informations in English</span></a></li>
							

						</ul>
						<ul class="social">
							<li><a href="https://twitter.com/museenbasel"><i>ⓣ</i> <span>@museenbasel</span></a></li>
							<li><a href="https://www.facebook.com/museenbasel/"><i>ⓕ</i> <span>@museenbasel</span></a></li>
							<li><a href="https://www.instagram.com/museumsnachtbasel/"><i>i</i> <span>@museumsnachtbasel</span></a></li>
						</ul>
					</div>

					{#<div id="mymenu">
						 <savedlink></savedlink> #}
						{# <span><a href="{{ url('mein-programm') }}" {% if craft.request.firstSegment == 'mein-programm' %}class="active"{% endif %}>Mein Programm</a></span> 
					</div>#}
				</nav>
			</transition>
		</div>

	</header>
	<main id="content" role="main" {% if mt is defined %}class="mt"{% endif %}>
					{# <Hello></Hello>
						<categorylist></categorylist> #}
						{# <map></map> #}
						{% block content %}
						<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
						<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
						{% endblock %}
					</main>
					<footer id="footer">
						{# <div>
						<div class="sponsors">
							{{ sponsores.textForSponsors }}
							<div class="flex-container">
								{% for sponsor in sponsores.sponsorBlocks %}
									<div>
										<a href="{{ sponsor.sponsorLink }}">
											<h1>{{ sponsor.sponsorName }}</h1>
							    		{% if sponsor.logo | length %}
								    		{% for img in logo.sponsor %}
								    	    <figure>
								    	    	<img src="{{ img.getUrl }}" alt="{{ img.title }}">
								    	    </figure>
								    		{% endfor %}
								    	{% endif %}
								    </a>

								</div>
							{% endfor %}
						</div> #}
						<section class="nav">
							<h3>Museumsnacht Basel 2018</h3>
							<nav>
								<ul>
									<li><a href="{{ url('programm') }}" {% if craft.request.firstSegment == 'programm' %}class="active"{% endif %}>Programm</a></li>
									<li><a href="{{ url('museen') }}" {% if craft.request.firstSegment == 'museen' %}class="active"{% endif %}>Museen</a></li>
									<li><a href="{{ url('besuch') }}" {% if craft.request.firstSegment == 'besuch' %}class="active"{% endif %}>Ihr Besuch</a></li>
									<li><a href="{{ url('mobil') }}" {% if craft.request.firstSegment == 'mobil' %}class="active"{% endif %}>Mobilität</a></li>

									<li><a href="{{ url('socialstream') }}" {% if craft.request.firstSegment == 'socialstream' %}class="active"{% endif %}>#mnbasel</a></li>
								</ul>
							</nav>
						</section>
					</footer>
		</div>
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG1n1fhLxcWGqlj1AUOBxinlfFn1idc4U" ></script>
			<script async defer src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.0.0/masonry.pkgd.min.js"></script>

			<script type="text/javascript" src="{{ siteUrl }}/js/lodash.min.js"></script>
			<script type="text/javascript" src="{{ siteUrl }}/js/vue.js"></script>
			<script type="text/javascript" src="{{ siteUrl }}/js/main.js"></script>
			<script>
				// document.getElementById("wordwrap").style.wordWrap = "break-word";
			</script>
	</body>
	</html>
