<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta http-equiv="Content-Type" charset="utf-8" />
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
	
	{# Customize these Tags! #}
	<meta name="og:description" content="Museumsnacht Basel">
	<meta name="description" content="Museumsnacht Basel">
	<title>{{ siteName }}{% if title is defined %} - {{ title }}{% endif %}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="stylesheet" href="{{ siteUrl }}/css/styles.css"/>
</head>
<body>
	<div id="vue-app" v-bind:class="{ active: activeContrast }">
		<div class="loader" v-if="loader">
			<figure></figure>
		</div>
		{% include "_includes/header" %}

		<main id="content" role="main" {% if mt is defined %}class="mt"{% endif %}>

			{% block content %}
			<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
			<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>
		{% if lang is defined %}
			{% if lang == "en" %}
				{% include "_includes/footer-en" %}
			{% elseif lang == "fr" %}
				{% include "_includes/footer-fr" %}
			{% endif %}
		{% else %}
			{% include "_includes/footer" %}
		{% endif %}
	</div>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG1n1fhLxcWGqlj1AUOBxinlfFn1idc4U" ></script>
	<script type="text/javascript" src="{{ siteUrl }}/js/lodash.min.js"></script>
	<script type="text/javascript" src="{{ siteUrl }}/js/vue.js"></script>
	<script type="text/javascript" src="{{ siteUrl }}/js/main.js"></script>
	<script>
	</script>
</body>
</html>
