<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta http-equiv="Content-Type" charset="utf-8" />
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
	
	{# Customize these Tags! #}
	<meta name="og:description" content="Museumsnacht Basel">
	<meta name="description" content="Museumsnacht Basel">
	<title>{{ siteName }}{% if title is defined %} - {{ title }}{% endif %}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="stylesheet" href="{{ siteUrl }}/css/styles.css"/>
</head>

<body>
	<div id="vue-app" v-bind:class="{ active: activeContrast }">
		
		<header id="header">
			<div id="container">
				<div class="flex-container">
				<div class="logo">
					<a href="{{ siteUrl }}">
						{# {% include '_includes/logo.twig' %} #}
						<img src="/bilder/logo.svg" alt="">
					</a>
				</div>
				{# {% set mndate = mnDate.mnDate | date %} #}
				{# <span>Datum: {{ mndate }} </span> #}

				<savedlink></savedlink>

				<div id="menu" >
						{# <contrast></contrast> #}
					<div class="contrast-toggle" v-on:click="toggleContrast">
					    &#61506;
					  </div>
					<div class="burger-toggle" v-bind:class="{ open: menuOpen }" v-on:click="toggle">
						<span>MENU</span>
						<div class="burger" >
							{# <span></span>
							<span></span>
							<span></span> #}
							<i>&#9776;</i>

						</div>
					</div>
				</div>
			</div>
				<transition name="fade">
						<nav class="nav-wrapper narrow">
							<ul v-if="menuOpen">
								<li><a href="{{ url('programm') }}" {% if craft.request.firstSegment == 'programm' %}class="active"{% endif %}>Programm</a></li>
								<li><a href="{{ url('institutionen') }}" {% if craft.request.firstSegment == 'institutionen' %}class="active"{% endif %}>Institutionen</a></li>
								<li><a href="{{ url('besuch') }}" {% if craft.request.firstSegment == 'besuch' %}class="active"{% endif %}>Ihr Besuch</a></li>
								<li><a href="{{ url('socialstream') }}" {% if craft.request.firstSegment == 'socialstream' %}class="active"{% endif %}>#mnbasel</a></li>
							</ul>
							<div id="mymenu">
								{# <savedlink></savedlink> #}
								{# <span><a href="{{ url('mein-programm') }}" {% if craft.request.firstSegment == 'mein-programm' %}class="active"{% endif %}>Mein Programm</a></span> #}
							</div>
						</nav>
					</transition>
			</div>

		</header>
		<main id="content" role="main" {% if mt is defined %}class="mt"{% endif %}>
					{# <Hello></Hello>
					<categorylist></categorylist> #}
					{# <map></map> #}
					{% block content %}
						<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
						<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
					{% endblock %}
				</main>
				<footer id="footer">
					<div id="container">
						{# <div class="sponsors">
							{{ sponsores.textForSponsors }}
							<div class="flex-container">
								{% for sponsor in sponsores.sponsorBlocks %}
									<div>
										<a href="{{ sponsor.sponsorLink }}">
											<h1>{{ sponsor.sponsorName }}</h1>
							    		{% if sponsor.logo | length %}
								    		{% for img in logo.sponsor %}
								    	    <figure>
								    	    	<img src="{{ img.getUrl }}" alt="{{ img.title }}">
								    	    </figure>
								    		{% endfor %}
								    	{% endif %}
								    </a>

								</div>
							{% endfor %}
						</div> #}
					<div class="footerinfos">
					Museumsnacht Basel 2018<br><br>
					<nav>
						<ul>
							<li><a href="{{ url('programm') }}" {% if craft.request.firstSegment == 'programm' %}class="active"{% endif %}>Programm</a></li>
								<li><a href="{{ url('institutionen') }}" {% if craft.request.firstSegment == 'institutionen' %}class="active"{% endif %}>Institutionen</a></li>
								<li><a href="{{ url('besuch') }}" {% if craft.request.firstSegment == 'besuch' %}class="active"{% endif %}>Ihr Besuch</a></li>
								<li><a href="{{ url('socialstream') }}" {% if craft.request.firstSegment == 'socialstream' %}class="active"{% endif %}>#mnbasel</a></li>
						</ul>
					</div>
					</nav>
				</div>
					</div>

			</footer>
		</div>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG1n1fhLxcWGqlj1AUOBxinlfFn1idc4U" ></script>

		<script type="text/javascript" src="{{ siteUrl }}/js/lodash.min.js"></script>

		<script type="text/javascript" src="{{ siteUrl }}/js/vue.js"></script>

		<script type="text/javascript" src="{{ siteUrl }}/js/main.js"></script>
		<script>
		function menu() {
			document.getElementById("header").classList.toggle("active");
		}
		</script>


	</body>
	</html>
