{% extends "_layout" %}
{% set title = "Besuch" %}
{% set mt = "mt" %}

{% block content %}

<div class="visit">
	<header class="site-header">
					<h1>Ihr Besuch</h1>
				</header>
<div class="visit text-block">		
	<section>
			<div>
				
				{{ entry.text }}
			</div>
	</section>
	<section>
			<div class="narrow">
				
				<div>
					{{ entry.tickets }}
				</div>
				<div class="presell">
					<div>
						{{ entry.presell }}
					</div>
					<presell></presell>
				</div>
				<div>
					{{ entry.boxOffice }}
				</div>
			</div>

	</section>
	{% for block in entry.additionalInfos %}
		<section>
				<div>
					{{ block.text }}
				</div>
		</section>
	{% endfor %}
	
</div>
</div>

{% endblock %}