{% extends "_layout" %}
{% set title = "Besuch" %}

{% block content %}

<section class="visit">		
	<article>
		<div id="container">
			<div class="narrow">
				<header class="section-header">
					<h1>Ihr Besuch</h1>
				</header>
				{{ entry.text }}
			</div>
		</div>
	</article>
	<article>
		<div id="container">
			<div class="narrow">
				
				<div>
					{{ entry.tickets }}
				</div>
				<div class="presell">
					<div>
						{{ entry.presell }}
					</div>
					<presell></presell>
					
					{# <div class="presell-location">
						{% for block in entry.boxOfficeLocations %}
							<div>
								{{ block.list }}
							</div>
											
						{% endfor %}				
					</div> #}
				</div>
				<div>
					{{ entry.boxOffice }}
				</div>
			</div>

		</div>
	</article>
	{% for block in entry.additionalInfos %}
		<article>
			<div id="container">
				<div class="narrow">
					{{ block.text }}
				</div>
			</div>
		</article>
	{% endfor %}
	
</section>
{% endblock %}