{% extends "_layout" %}
{% set title = "Home" %}
{% set mt = "mt" %}


{% block content %}

{# <twitter></twitter> #}


<div class="home">
	
{# 	<section class="cover">
					 	<div class="site-title"><counter :days="daysLeft"></counter></div>

		{# <img src="/bilder/keyvisual.jpg" alt=""> #}
		
	{# </section> #}
	<header class="site-header">
			<div class="lang">
				<p><i class="fr">🇫🇷 </i> <a href="/fr">Informations pratiques en français</a></p>
				<p><i class="en">🇬🇧 </i> <a href="/en">Visitor information in English</a></p>
			</div>
	<counter :days="daysLeft"></counter>
	</header>

<section class="journal journal--overview" >
		<div class="group">
			{% for entry in craft.entries.section('journal').type('journal').limit(5) %}
				<div class="post">
					<a href="{{ entry.url }}">

						{% for img in entry.cover %}
							<figure {% if img.height > img.width %}class="portrait"{% endif %}>
								<img src="{{ img.url }}" alt="{{ img.title }}">
							</figure>
						{% endfor %}
						<p class="post-date">Veröffentlicht am  {{ entry.postDate | date("d. F Y") }}</p>

						<h1><span>{{ entry.title }}</span></h1>

						{{ entry.excerpt }}
						<span class="more">Mehr</span>
					</a>
				</div>
			{% endfor %}
			
		</div>
		<div class="link">
			<button>
				<a href="/journal">Alle Beiträge</a>
			</button>
		</div>
	</section>
{# 		<section class="info">
		<article class="infoblock">

		{% for entry in craft.entries.section('journal').type('infoblock').limit(9) %}
						<div>
							{% for img in entry.cover %}
								<figure>
									<img src="{{ img.url }}" alt="{{ img.title }}">
								</figure>
							{% endfor %}
							<i>🎠</i>
							{{ entry.text }}
						</div>
		{% endfor %}
					</article>

	</section> #}
</div>

{% endblock %}