{% extends "_layout" %}
{% set title = "Home" %}


{% block content %}

{# <twitter></twitter> #}
<div class="home">
	<section class="cover">
		{# <img src="/bilder/keyvisual.jpg" alt=""> #}
		<div class="site-title">
		<h1>Museumsnacht Basel</h1>
		<p>19. Januar 2018</p>
		</div>
	</section>
	<section class="info">
		<div>
			<div class="lang">
				<p>Nuit Des Musées Bale<br><a href="/">Informations en francais</a></p>
				<p>Night of the museums Basel<br><a href="/">Informations in English</a></p>
			</div>
			<p class="intro">Am Freitag, 19. Januar 2018 findet von 18.00 bis 2.00 Uhr die <nobr>18. Museumsnacht Basel</nobr> statt. Mit nur einem <a href="/besuch">Ticket</a> haben Sie die Möglichkeit <a href="/programm">xx Veranstaltungen</a>  in <a href="/institutionen">36 Museen und Gastinstitutionen </a> in drei Ländern zu besuchen.</p>
		</div>
		
	</section>
<section class="journal journal--overview" >
		<div class="group of-three">
			{% for entry in craft.entries.section('journal').limit(6) %}
				<div>
					<a href="{{ entry.url }}">
						<h1>{{ entry.title }}</h1>

						{% for img in entry.cover %}
							<figure>
								<img src="{{ img.url }}" alt="{{ img.title }}">
							</figure>
						{% endfor %}
						{{ entry.excerpt }}
						<br><span class="link-with-arrow">Mehr</span>
					</a>
				</div>
			{% endfor %}
		</div>
		<div class="narrow link">
			<a href="/journal">Alle Beiträge</a>
		</div>
	</section>
</div>

{% endblock %}