{% extends "_layout" %}
{# {% set title = "Home" %} #}
{% set mt = "mt" %}

{% block content %}
<div class="home">
	<header class="site-header">
		<div class="mn-date">Freitag, 19. Januar 2018 | 18–2 Uhr</div>
			<div class="lang">
				<p><i class="fr">🅵 </i> <a href="/fr">Informations pratiques en français</a></p>
				<p><i class="en">🅴 </i> <a href="/en">Visitor information in English</a></p>
			</div>
		<counter :days="daysLeft"></counter>
	</header>
<section class="journal journal--overview" >
		<div class="group">
			{% for entry in craft.entries.section('journal').type('journal') %}
				<div class="post">
					<a href="{{ entry.url }}">
						{% for img in entry.cover %}
							<figure {% if img.height > img.width %}class="portrait"{% endif %}>
								<img src="{{ img.url }}" alt="{{ img.title }}">
							</figure>
						{% endfor %}
						<p class="post-date">Veröffentlicht am  {{ entry.postDate | date("d. F Y") }}</p>
						<h1><span>{{ entry.title }}</span></h1>
						{{ entry.excerpt }}
						<span class="more">Mehr</span>
					</a>
				</div>
			{% endfor %}
		</div>
	</section>
</div>
{% endblock %}