{% extends "_layout" %}
{% set title = "Home" %}
{% set mt = "mt" %}


{% block content %}

{# <twitter></twitter> #}
<header class="site-header">
	<counter :days="daysLeft"></counter>
	</header>
<div class="home">
	
{# 	<section class="cover">
					 	<div class="site-title"><counter :days="daysLeft"></counter></div>

		{# <img src="/bilder/keyvisual.jpg" alt=""> #}
		
	</section>

<section class="journal journal--overview" >
	{# <journaloverview></journaloverview>	 #}
		<div class="group">
			{% for entry in craft.entries.section('journal').limit(9) %}
				{% if entry.type == "journal" %}
				
				<div class="post">
					<a href="{{ entry.url }}">

						{% for img in entry.cover %}
							<figure>
								<img src="{{ img.url }}" alt="{{ img.title }}">
							</figure>
						{% endfor %}
						<p class="post-date">Gepostet am {{ entry.postDate | date("d. F Y") }}</p>

						<h1>{{ entry.title }}</h1>

						{{ entry.excerpt }}
						<span class="link-with-arrow">Mehr</span>
					</a>
				</div>
				{% else %}
					<div class="info-box">
						<div>
							{# {% for img in entry.cover %}
								<figure>
									<img src="{{ img.url }}" alt="{{ img.title }}">
								</figure>
							{% endfor %} #}
							<i>🎠</i>
							{{ entry.text }}
						</div>
					</div>
				{% endif %}

			{% endfor %}
		</div>
{# 		<div class="narrow link">
			<a href="/journal">Alle Beiträge</a>
		</div> #}
	</section>
		<section class="info">
		<div>
			<div class="lang">
				<p><a href="/"><i class="fr">🇫🇷</i><br>Informations en francais</a></p>
				<p><a href="/"><i class="en">🇬🇧</i><br>Informations in English</a></p>
			</div>
		</div>
	</section>
</div>

{% endblock %}